<!DOCTYPE html>
   <html>
    <head>
     <meta charset="utf-8">
        <title>Inginious</title>
        <link rel="stylesheet" type="text/css" href="../static/style_index.css">
    </head>


     <!-- Chargement de la librairie Javascript à utiliser -->

     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

    <body>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="LSINF1252.html">LSINF1252</a></li>
            <li><a href="LSINF1101.html">LSINF1101-PYTHON</a></li>
            <li><a href="LEPL1402.html">LEPL1402</a></li>
            <li><a href="studentstat.html">Student's grades</a></li>
            <li><a class="active" href="date.html">Date</a></li>
            <li><a href="success_rate.html">Success Rate</a></li>
            <li><a href="difficulty.html">Difficulty</a></li>
            <li><a href="https://inginious.org" target="_blank">INGInious.org</a></li>
        </ul>

        </br> </br> </br>

        <header>
            <h1>Inginious graphic</h1>
            <h3><img src="https://inginious.info.ucl.ac.be/pages/assets/logo_ingi.png" class="image" width="5%" height="12%"></h3>
            <h2>All the submissions per date for {{ task }}</h2>
        </header>

        <form action="date.html" method="POST">
            <select id="menu" name=dropdown method="GET" onchange="this.form.submit()">
                <option value="{{task}}">{{task}}</option>
                <option value="" disabled>---------</option>
                {% for value in dropdown %}
                    <option value= "{{value}}">{{value}}</option>"
                {% endfor %}
            </select>
        </form>
        </br>

        <button id="button_download" onclick="download_canvas()"> Download as PNG</button>
        </br> </br>

    <canvas id="graphique" width="200px" height="100px"></canvas>
        <script>
            // l'identifiant est celui du canevas
            var ctx = document.getElementById('graphique').getContext('2d');

            // création du graphique

            var myChart = new Chart(ctx,{
                    type: 'line',
                    data: {
                          labels:  [{% for item in labels %}
                                      "{{ item }}",
                                   {% endfor %}],
                          datasets: [{
                              label: "{{ task }}",
                              data: JSON.parse("{{ values }}"),
                              borderColor: '#4caf50',
                        }]
                    }
                });
        </script>

    <!-- Download Chart Image -->
    <script>
        function download_canvas() {
            var canavs = document.getElementById("graphique");
            image = canavs.toDataURL("image/png");
            var link = document.createElement('a');
            link.download = "LEPL1402.png";
            link.href = image;
            link.click()
        }
    </script>

    </body>
   </html>