<!DOCTYPE html>
   <html>
    <head>
     <meta charset="utf-8">
        <title>Inginious</title>
        <link rel="stylesheet" type="text/css" href="../static/style_index.css">
    </head>


     <!-- Chargement de la librairie Javascript à utiliser -->

     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

    <br>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="LSINF1252.html">LSINF1252</a></li>
            <li><a href="LSINF1101.html">LSINF1101-PYTHON</a></li>
            <li><a href="LEPL1402.html">LEPL1402</a></li>
            <li><a href="studentstat.html">Student's grades</a></li>
            <li><a href="date.html">Date</a></li>
            <li><a href="success_rate.html">Success Rate</a></li>
            <li><a href="difficulty.html">Difficulty</a></li>
            <li><a href="https://inginious.org" target="_blank">INGInious.org</a></li>
        </ul>

        </br> </br> </br>

        <header>
            <h1>Welcome to Inginious stats</h1>
        </br>
            <h3>On this web site you can find some graphic about the number of submission per task</h3>
        </header>
        </br>

        <img src="https://inginious.org/pages/assets/welcome/logo_full.png" style="width: auto; max-height: 500px;">


    </body>
   </html>